<style>
	.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}
nav a:hover{ 
	background-color: #ffffff; 
	color: #000000; 
} 
</style>
<head><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></head>

	<div style="background: url(../static/images/flighthome.jpg)" class="page-holder bg-cover">
		<nav class="navbar navbar-expand-lg">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item active">
				  <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-dark" href="/percentagehome">Delay Percentage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="/dornothome">Predict Delay</a>
				  </li>
				<li class="nav-item">
				  <a class="nav-link text-dark" href="/rankhome">Flight Recommendation</a>
				</li>
			  </ul>
			</div>
		  </nav>
	  <div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<header class="text-center text-white py-5 mb-5">
				<h1 class="font-weight-bold text-dark">Flight Delay Prediction</h1>
				<h3 class="text-dark">Avoid Delays for Better Travel</h3>
			</header>
		</div>
	  </div>
  
	<!-- </div> -->
  </div>