<!DOCTYPE html>
<html>
<head>
        <title>Percentage Delay</title>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <link href="../static/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
                <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="all">
                <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
                <link href="../static/css/select2.min.css" rel="stylesheet" media="all">
                <link href="../static/css/main.css" rel="stylesheet" media="all">
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></head>
</head>
<style>
        .container-bg{
                background-color: lightskyblue;
        }


</style>
<body>
        <div class="container-bg">
        <div class="container">
		<div class="row justify-content-center align-items-center">
                        
                        <h1 class="title" style="text-align: center">Percentage Delay in Journey</h1>
                </div>
                <div class="row justify-content-center align-items-center">
                                <div class="card">
                                <div class="card-body">
                                        <div class="col-sm text-center">
                                                <h3>From : {{origin}}</h3>
                                              </div>
                                              <div class="col-sm text-center">
                                                <h3>To: {{destination}}</h3>
                                              </div>
                                              <div class="col-sm text-center">
                                                <h3>From : {{airlinesname}}</h3>
                                              </div>
                                              <br><br>
                                              <img src ="{{img_path}}" style="width: 700px; height: 700px; object-fit: none;">

 </div></div>  
                        </div>
                </div>
	  </div>
          <script src="../static/js/jquery.min.js"></script>
          <script src="../static/js/select2.min.js"></script>
          <script src="../static/js/global.js"></script>
</body> 

</html>